.light-theme {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  
  /* Apply variables */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }


html, body {
    margin: 0;
    text-align: center;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color)

}

a {
    color: #855860;
}

form {
    width: 300px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    text-align: left;
}
form input, form button {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}
